<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="FindFoundation.txt" layout="${stacktrace} ${message}" />
      <target name="file1" xsi:type="File" fileName="FindReferences1.txt" layout="${message}" />
    </targets>
    <rules>
      <logger name="logs" minlevel="Trace" writeTo="file" />
      <logger name="dlltoChange" minlevel="Trace" writeTo="file1" />
    </rules>
  </nlog>
</configuration>